/* *************** <add section name> Section Start *************** */
/*Quick-service Start(fdev-sg)*/
.quick-service-img img {
    width: 100%;
}
.quick-service-content {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.quick-service-content-wrap {
    position: absolute;
    top: 132px;
    padding: 0 111px 0 100px;
}
.quick-service-content-wrap.second-wrap {
    top: 89px;
}
.quick-service-content-wrap.third-wrap {
    top: 149px;
}
/*Quick-service End(fdev-sg)*/
/*Custom-cta Start(fdev-sg)*/
.custom-cta.custom-pad .custom-heading {
    text-align: center;
}
.custom-cta-content {
    text-align: center;
}
.custom-cta-content .custom-paragraph p {
    font-size: 23px;
    color: var(--c-primary);
}
.custom-cta.custom-pad .custom-cta-content .button-wrap {
    padding-top: 56px;
}
.custom-cta.custom-pad .custom-heading h3 span {
    color: var(--c-secondary);
    border-bottom: 2px solid var(--c-secondary);
}
.custom-cta.custom-pad .custom-heading {
    text-align: center;
    padding: 0 400px;
}
.custom-cta-content .custom-paragraph {
    margin-top: 30px;
}
/*Custom-cta End(fdev-sg)*/
/* *************** <add section name> Section End *************** */

@media (min-width: 1700px) and (max-width: 1800px){

}
@media (min-width: 1600px) and (max-width: 1700px){

}
@media (min-width: 1500px) and (max-width: 1600px){

}

@media (min-width: 1400px) and (max-width: 1500px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
	
}
@media (min-width: 1200px) and (max-width: 1300px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}