/* *************** <add section name> Section Start *************** */
/*Contact-Us Start(fdev-sg)*/
.contact-us.custom-pad .custom-heading {
    text-align: center;
}
.contact-us-content {
    text-align: center;
}
.contact-us-content .custom-paragraph p {
    font-size: 23px;
    color: var(--c-primary);
}
.contact-us.custom-pad .contact-us-content .button-wrap {
    padding-top: 56px;
}
.contact-us.custom-pad .custom-heading h3 span {
    color: var(--c-secondary);
    border-bottom: 2px solid var(--c-secondary);
}
.contact-us.custom-pad .custom-heading {
    text-align: center;
    padding: 0 400px;
}
.contact-us-content .custom-paragraph {
    margin-top: 30px;
}
/*Contact-Us End(fdev-sg)*/
/* *************** <add section name> Section End *************** */

@media (min-width: 1700px) and (max-width: 1800px){

}
@media (min-width: 1600px) and (max-width: 1700px){

}
@media (min-width: 1500px) and (max-width: 1600px){

}

@media (min-width: 1400px) and (max-width: 1500px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
	
}
@media (min-width: 1200px) and (max-width: 1300px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}