/* *************** <add section name> Section Start *************** */
/*Team Start(fdev-sg)*/
.custom-our-team .custom-our-team-image img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}
.custom-our-team .custom-our-team-image {
    position: relative;
}
.custom-our-team .custom-our-team-image .custom-our-team-image-text {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: var(--c-white-900);
    width: 70%;
    text-align: center;
    padding: 15px;
}
.custom-our-team .custom-our-team-image .custom-our-team-image-text h5 {
    font-family: var(--ff-primary);
    font-size: 18px;
    font-weight: 400;
}
/*Team End(fdev-sg)*/
/*Testimonial Start(fdev-sg)*/
.testimonial-content {
    text-align: center;
    padding: 0 310px;
}
.testimonial-content .custom-paragraph p {
    font-family: var(--ff-secondary);
    font-size: 22px;
    font-weight: 300;
    line-height: 45px;
    color: var(--c-blue-900);
}
.testimonial-content h5 {
    font-weight: 500;
    font-size: 16px;
    margin-top: 42px;
}
.testimonial-content .custom-heading {
    margin-bottom: 45px;
}
.custom-testimonial.custom-pad .owl-dots {
    display: none;
}
/*Testimonial Start(fdev-sg)*/
/*Quick-service Start(fdev-sg)*/
.quick-service-wrap {
    display: flex;
    align-items: center;
}
.custom-quick-service .quick-service-wrap:nth-child(2) {
    flex-direction: row-reverse;
}
.quick-service-wrap > * {
    flex-basis: 50%;
  }
.quick-service-content {
    position: relative;
    background-image: url(../images/quick-services-bg-pattern.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.quick-service-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.quick-service-content-wrap {
    position: absolute;
    top: 50%;
    padding: 0 88px 0 96px;
    transform: translateY(-50%);
  }
/*Quick-service End(fdev-sg)*/
/*Custom-cta Start(fdev-sg)*/
.custom-cta.custom-pad .custom-heading {
    text-align: center;
}
.custom-cta-content {
    text-align: center;
}
.custom-cta-content .custom-paragraph p {
    font-size: 23px;
    color: var(--c-primary);
}
.custom-cta.custom-pad .custom-cta-content .button-wrap {
    padding-top: 56px;
}
.custom-cta.custom-pad .custom-heading h3 span {
    color: var(--c-secondary);
    border-bottom: 2px solid var(--c-secondary);
}
.custom-cta.custom-pad .custom-heading {
    text-align: center;
    padding: 0 400px;
}
.custom-cta-content .custom-paragraph {
    margin-top: 30px;
}
/*Custom-cta End(fdev-sg)*/
/* *************** <add section name> Section End *************** */

@media (min-width: 1700px) and (max-width: 1800px){

}
@media (min-width: 1600px) and (max-width: 1700px){

}
@media (min-width: 1500px) and (max-width: 1600px){

}

@media (min-width: 1400px) and (max-width: 1500px){
	
}

@media (min-width: 1300px) and (max-width: 1400px){
	
}
@media (min-width: 1200px) and (max-width: 1300px){
	
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    

}

@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}