@charset "utf-8";
/* CSS Document */

@media (max-width: 1800px) {
.container-alt {padding: 0 1.5rem;}
}
@media (min-width: 1700px) and (max-width: 1800px){
.header_search-form:hover .header_search-input {width: 280px;}
}
@media (min-width: 1600px) and (max-width: 1700px){
.header_search-form:hover .header_search-input {width: 270px;}	
.custom-navbar_nav {gap: 0 60px;margin-left: 45px;}
.header-button-wrap {margin-left: 45px;}
}
@media (min-width: 1500px) and (max-width: 1600px){
.custom-navbar_brand {padding-block: 35px;}
.custom-navbar_nav {gap: 0 40px;margin-left: 35px;}
.header_search-form:hover .header_search-input {width: 260px;}	
.header_quick-contact {padding-left: 14px;gap: 0 7px;}
.header_quick-contact::before {left: 0px;}
.header-button-wrap {margin-left: 35px;}	
}

@media (min-width: 1400px) and (max-width: 1500px){
.custom-navbar_brand {padding-block: 35px;padding-right: 30px;}
.custom-navbar_nav {gap: 0 30px;margin-left: 25px;}
.header_search-form:hover .header_search-input {width: 250px;}	
.header_quick-contact {padding-left: 14px;gap: 0 7px;}
.header_quick-contact::before {left: 0px;}
.header-button-wrap {margin-left: 25px;}	
}

@media (min-width: 1300px) and (max-width: 1400px){
.custom-navbar_brand {padding-block: 28px;padding-right: 28px;}
.custom-navbar_brand img {height: 19px;}
.custom-navbar_nav {gap: 0 28px;margin-left: 20px;}
.header_search-form:hover .header_search-input {width: 180px;}	
.header_quick-contact {padding-left: 14px;gap: 0 7px;}
.header_quick-contact::before {left: 0px;}
.header-button-wrap {margin-left: 20px;}
/* .header_search-form .header_search-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);} */
}
@media (min-width: 1200px) and (max-width: 1300px){
.custom-navbar_brand {padding-block: 28px;padding-right: 28px;}
.custom-navbar_brand img {height: 19px;}
.custom-navbar_nav {gap: 0 28px;margin-left: 20px;}
.header_search-form:hover .header_search-input {width: 180px;}	
.header_quick-contact {padding-left: 14px;gap: 0 7px;}
.header_quick-contact::before {left: 0px;}
.header-button-wrap {margin-left: 20px;}
.header_search-form .header_search-input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);}
}

@media (min-width: 1024px) and (max-width: 1200px){
	
}

@media (min-width: 992px) and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991.98px) {    
.navbar-toggler .icon-bar { width: 24px;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}
}


@media (max-width: 767.98px){
    
}

@media (max-width: 575.98px){
    
}
