/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/******** Color Schemes ********/

:root {
  /* CSS HEX */
  --c-primary: #0a1d35;
  --c-secondary: #b8967e;
  
  --c-white-900: #ffffff;
  --c-white-800: #f5f5f5;

  --c-black-900: #000;
  
  --ff-primary: 'Marcellus', serif;
  --ff-secondary: 'Montserrat', sans-serif;
}


/******** CSS Resets ********/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  font-size: 16px;
  color: var(--c-primary);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}
h4, h5, h6 {
  font-family: var(--ff-secondary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}

.container-alt {
  max-width: 1783px;
}

.on-hover:hover > *:nth-child(2) {
  display: block;
}

.fixed-top  {
  background-color: var(--c-white-800) !important;
} 

/******** Custom Properties ********/
.custom-pad {
  padding: 106px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  color: var(--c-white-900);
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0px 31px;
  /* padding: 0px 22px; */
  height: 51px;
  border-radius: 0;
  position: relative;
}
.custom-button_alt {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
.custom-button.custom-button_text {
  background-color: transparent;
  color: var(--c-primary);
}
/* If there is a button icon */
.custom-button {
  gap: 0 18px;
}
.custom-button_text {
  gap: 0 13px;
}
.custom-button span {
  font-size: 20px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: all 0.5s;
}
.custom-button_text span {
  border: 1px solid var(--c-primary);
  width: 50px;
  height: 50px;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
.custom-button_alt:hover {
  background-color: var(--c-primary);
  color: var(--c-white-900);
}
.custom-button_text:hover {
  background-color: transparent;
  color: var(--c-primary);
}
.custom-button:hover span {
  -webkit-animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.custom-button_text:hover span {
  background-color: var(--c-primary);
  color: var(--c-white-900);
}

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.button-wrap {
  padding-top: 48px;
}
.custom-heading {
  padding-bottom: 35px;
}

.custom-heading .main-heading {
  font-size: 48px;
  line-height: 61px;
  color: var(--c-primary);
  text-transform: capitalize;
}

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: black;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.custom-navbar_brand {
  background-color: var(--c-primary);
}

.custom-navbar_brand::after {
  content: '';
  position: absolute;
  left: -4000px;
  height: 100%;
  width: 4000px;
  background-color: var(--c-primary);
  top: 0;
}

.custom-navbar_brand {
  background-color: var(--c-primary);
  padding-right: 50px;
  position: relative;
  padding-block: 41px;
}

.custom-navbar_brand img {
  width: 100%;
}

.custom-navbar_nav {
  margin-left: 57px;
  gap: 0 104px;
}

.custom-navbar .custom-navbar_nav .nav-link {
  padding: 0;
  font-family: var(--ff-primary);
  text-transform: capitalize;
  font-size: 17px;
  line-height: 40px;
  color: var(--c-primary);
  font-weight: 400;
}

.custom-navbar .custom-navbar_nav .dropdown-toggle::after {
  display: none;
}

.header_search-form {
  position: relative;
}

.header_search-form .header_search-input {
  width: 0;
  opacity: 0;
  transition: all 0.6s ease-in;
  position: relative;
}

.header_search-form:hover .header_search-input {
  width: 350px;
  opacity: 1;
  height: 40px;
  border-radius: 0;
}

.header_search-input:focus {
  border-color: var(--c-primary);
  box-shadow: none;
}

.header_search-button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  height: 40px;
  width: 40px;
  transition: all 0.5s ease-in-out;
}

.header_search-button i {
  transform: scaleX(-1);
}

.header_search-form:hover .header_search-button {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
  font-size: 20px;
}

.header_quick-contact span {
  font-size: 38px;
  color: var(--c-primary);
}

.header_quick-contact {
  gap: 0 14px;
  padding-left: 36px;
  position: relative;
}
.header_quick-contact::before {
  content: '';
  position: absolute;
  height: 33px;
  width: 1px;
  background-color: #d7d7d7;
  left: 10px;
}
.header_quick-contact .content h5 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--c-primary);
  letter-spacing: 0.8px;
  padding-bottom: 9px;
}
.header_quick-contact .content h3 {
  color: var(--c-secondary);
  font-size: 20px;
  font-weight: 400;
}

.header-button-wrap {
  margin-left: 57px;
}

.header-button-wrap .custom-button {
  padding: 0px 22px;
}
/* *************** Header Section End *************** */

/* *************** Banner Section Start *************** */
.custom-banner {
  position: relative;
}
.custom-banner .carousel-item img {
  height: 848px;
  object-fit: cover;
  object-position: center;
}
.custom-banner_content {
  background-color: rgba(255, 255, 255 , 0.78);
  text-align: left;
  bottom: unset;
  top: 50%;
  transform: translateY(-50%);
  left: unset;
  right: unset;
  color: var(--c-primary);
}

.custom-banner_content .sub-heading {
  font-size: 16px;
  line-height: 90px;
  /* color: var(--c-primary); */
}
.custom-banner_content .heading {
  font-size: 58px;
  line-height: 74px;
  width: 80%;
}

.banner_socials {
  position: absolute;
  background-color: var(--c-white-900);
  width: 72px;
  height: 443px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.sticky-left {
  position: fixed;
}
.banner_socials.slide-left {
  transform: translateX(-72px);
}

.banner_socials-list {
  display: flex;
  flex-direction: column;
  gap: 34px 0;
}

.banner_socials-links {
  color: var(--c-primary);
  font-size: 14px;
}

.banner_socials-text {
  writing-mode: sideways-lr;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 88px;
  position: relative;
}
.banner_socials-text::before {
  content: '';
  position: absolute;
  background-color: var(--c-primary);
  width: 1px;
  height: 51px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
/* *************** Banner Section End *************** */

/* *************** Banner Section Start *************** */
.welcome_media  {
  position: relative;
}
.welcome_media > *:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.welcome_media > :last-child {
  padding-left: 120px;
}
.welcome_image img  {
  width: 100%;
}
/* *************** Banner Section End *************** */

/* *************** <add section name> Section Start *************** */
/* *************** <add section name> Section End *************** */

/* *************** Footer Section Start *************** */
.custom-footer {
  background-color: var(--c-white-800);
  position: relative;
  overflow-y: hidden;
}
.footer_content-wrap  {
  position: relative;
}
.footer_content-wrap::after, 
.footer_content-wrap::before {
  content: '';
  position: absolute;
  background-image: url('../images/footer-bg-pattern-top.webp');
  width: 175px;
  height: 268px;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer_content-wrap::before  {
  top: 2px;
  right: 0;
}
.footer_content-wrap::after  {
  bottom: -32px;
  left: 0;
  transform: scaleX(-1) rotate(180deg);
}

.footer_col-wrap {
  padding: 90px 0 48px;
}

.footer-title h3 {
  font-size: 20px;
  line-height: 40px;
  color: var(--c-secondary);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.footer_list .footer_link {
  font-size: 15px;
  color: var(--c-primary);
  line-height: 39px;
  font-weight: 400;
}

.footer_copyright {
  padding: 32px 0;
}

.footer_copyright p {
  font-family: var(--ff-primary);
  font-size: 17px;
  line-height: 40px;
  color: var(--c-primary);
}
/* *************** Footer Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */