/******** Google Fonts ********/

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

/******** Color Schemes ********/

:root {
  /* CSS HEX */
  --c-primary: #0a1d35;
  --c-secondary: #b8967e;

  --c-blue-900: #173253;
  
  --c-white-900: #ffffff;
  --c-white-800: #f5f5f5;
  
  --c-grey-400: #d7d7d7;

  --c-black-900: #000;
  
  --ff-primary: 'Marcellus', serif;
  --ff-secondary: 'Montserrat', sans-serif;
}


/******** CSS Resets ********/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  font-size: 16px;
  color: var(--c-primary);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}
h4, h5, h6 {
  font-family: var(--ff-secondary);
  margin-bottom: 0;
}

/******** Utility Classes ********/

.container {
  max-width: 1440px;
}

.container-alt {
  max-width: 1783px;
}

.on-hover:hover > *:nth-child(2) {
  display: block;
}


/******** Custom Properties ********/
.custom-pad {
  padding: 106px 0;
}
.custom-header {
  /* change header bg here */
  background-color: var(--c-white-900);
}
.custom-button  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  color: var(--c-white-900);
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 0px 31px;
  /* padding: 0px 22px; */
  height: 51px;
  border-radius: 0;
  position: relative;
}
.custom-button_alt {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
.custom-button.custom-button_text {
  background-color: transparent;
  color: var(--c-primary);
}
/* If there is a button icon */
.custom-button {
  gap: 0 18px;
}
.custom-button_text {
  gap: 0 13px;
}
.custom-button span {
  font-size: 20px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  transition: all 0.5s;
}
.custom-button_text span {
  border: 1px solid var(--c-primary);
  width: 50px;
  height: 50px;
}
/* Basic Button Hover */
.custom-button:hover {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
}
.custom-button_alt:hover {
  background-color: var(--c-primary);
  color: var(--c-white-900);
}
.custom-button_text:hover {
  background-color: transparent;
  color: var(--c-primary);
}
.custom-button:hover span {
  -webkit-animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-horizontal 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.custom-button_text:hover span {
  background-color: var(--c-primary);
  color: var(--c-white-900);
}

.custom-button_form {
  background-color: transparent;
  padding: 0;
  font: inherit; /* add custom-button fonts */
  color: inherit; /* add custom-button color */
  text-transform: inherit; /* add custom-button text-transform */
  border: none;
}

.button-wrap {
  padding-top: 48px;
}
.custom-heading {
  margin-bottom: 35px;
}

.custom-heading .main-heading {
  font-size: 48px;
  line-height: 61px;
  color: var(--c-primary);
  text-transform: capitalize;
}
.custom-heading-underline {
  padding-bottom: 25px;
  position: relative;
}
.custom-heading-underline::after {
  position: absolute;
  content: '';
  width: 81px;
  height: 2px;
  background-color: var(--c-secondary);
  left: 0;
  bottom: 0;
}
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *************** Header Section Start *************** */

.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  position: relative;
  padding: 9px 10px;
  background-image: none;
  border: 1px solid transparent;
  margin: 0;
  height: 45px;
  width: 45px;
  border-radius: 0;
  z-index: 1;
}
.navbar-toggler { 
  /*change the hamburger menu bg */
  background-color: var(--c-primary);
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggler .icon-bar { 
  /*change the hamburger bars color */
  background-color: #fff;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.custom-navbar_brand {
  background-color: var(--c-primary);
}

.custom-navbar_brand::after {
  content: '';
  position: absolute;
  left: -4000px;
  height: 100%;
  width: 4000px;
  background-color: var(--c-primary);
  top: 0;
}

.custom-navbar_brand {
  background-color: var(--c-primary);
  padding-right: 50px;
  position: relative;
  padding-block: 41px;
}

.custom-navbar_brand img {
  width: 100%;
}

.custom-navbar_nav {
  margin-left: 57px;
  gap: 0 104px;
}

.custom-navbar .custom-navbar_nav .nav-link {
  padding: 0;
  font-family: var(--ff-primary);
  text-transform: capitalize;
  font-size: 17px;
  line-height: 40px;
  color: var(--c-primary);
  font-weight: 400;
}
.custom-navbar_nav .dropdown-menu.show {
  width: 100%;
  text-align: center;
  border: none;
  background-color: var(--c-white-800);
  border-radius: 0;
  left: 50%;
  transform: translateX(-50%);
}
.custom-navbar .custom-navbar_nav .dropdown-toggle::after {
  display: none;
}

.header_search-form {
  position: relative;
}

.header_search-form .header_search-input {
  width: 0;
  opacity: 0;
  transition: all 0.6s ease-in;
  position: relative;
}

.header_search-form:hover .header_search-input {
  width: 350px;
  opacity: 1;
  height: 40px;
  border-radius: 0;
}

.header_search-input:focus {
  border-color: var(--c-primary);
  box-shadow: none;
}

.header_search-button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  height: 40px;
  width: 40px;
  transition: all 0.5s ease-in-out;
}

.header_search-button i {
  transform: scaleX(-1);
}

.header_search-form:hover .header_search-button {
  background-color: var(--c-secondary);
  color: var(--c-white-900);
  font-size: 20px;
}

.header_quick-contact span {
  font-size: 38px;
  color: var(--c-primary);
}

.header_quick-contact {
  gap: 0 14px;
  padding-left: 36px;
  position: relative;
}
.header_quick-contact::before {
  content: '';
  position: absolute;
  height: 33px;
  width: 1px;
  background-color: #d7d7d7;
  left: 10px;
}
.header_quick-contact .content h5 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--c-primary);
  letter-spacing: 0.8px;
  padding-bottom: 9px;
}
.header_quick-contact .content h3 {
  color: var(--c-secondary);
  font-size: 20px;
  font-weight: 400;
}

.header-button-wrap {
  margin-left: 57px;
}

.header-button-wrap .custom-button {
  padding: 0px 29px;
}
.fixed-top .custom-navbar_brand {
  padding-block: 25px;
}
/* *************** Header Section End *************** */

/* *************** Banner Section Start *************** */
.custom-banner {
  position: relative;
}
.custom-banner .carousel-item img {
  height: 848px;
  object-fit: cover;
  object-position: center;
}

.custom-banner_wrap {
  position: relative;
}
.custom-banner_content {
  background-color: rgba(255, 255, 255 , 0.78);
  color: var(--c-primary);
  text-align: left;
  left: unset;
  right: 0;
  bottom: 208px;
  width: 714px;
  padding: 75px 40px 75px 75px;
}

.custom-banner_content .sub-heading {
  font-size: 16px;
  padding-bottom: 18px;
}
.custom-banner_content .heading {
  font-size: 58px;
  line-height: 74px;
  /* width: 80%; */
}

.custom-banner_content .heading span {
  color: var(--c-secondary);
  text-decoration: underline;
  display: inline-block;
}

.banner-button-wrap {
  padding-top: 45px;
}


.banner_socials {
  position: absolute;
  background-color: var(--c-white-900);
  width: 72px;
  height: 443px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.sticky-left {
  position: fixed;
  position: fixed;
  width: 42px;
  background-color: var(--c-secondary);
  color: var(--c-white-900);
  height: 360px;
}
.banner_socials.slide-left {
  transform: translateX(-72px);
}

.banner_socials-list {
  display: flex;
  flex-direction: column;
  gap: 34px 0;
}

.banner_socials-links {
  color: var(--c-primary);
  font-size: 14px;
}
.banner_socials-links:hover {
  color: var(--c-secondary);
}
.banner_socials-text {
  writing-mode: sideways-lr;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-top: 88px;
  position: relative;
}
.banner_socials-text::before {
  content: '';
  position: absolute;
  background-color: var(--c-primary);
  width: 1px;
  height: 51px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* *************** Banner Section End *************** */

/* *************** Welcome Section Start *************** */
.welcome_content {
  padding-right: 95px;
}
.welcome_media  {
  position: relative;
}
.welcome_media > *:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.welcome_media > :last-child {
  padding-left: 120px;
}
.welcome_image img  {
  width: 100%;
}

/* *************** Welcome Section End *************** */

/* *************** Quick Actions Section Start *************** */
.custom-quick-actions {
  background-color: var(--c-primary);
  position: relative;
}
.custom-quick-actions::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--c-blue-900);
}

.quick-action_card {
  gap: 0 25px;
  padding: 41px 0;
  position: relative;
  border-left: 1px solid var(--c-blue-900);
}
.custom-quick-actions [class*="col-"] [class*="col-"]:last-child .quick-action_card {
  border-right: 1px solid var(--c-blue-900);
}
.custom-quick-actions [class*="col-"] [class*="col-"]:last-child .quick-action_card::before {
  position: absolute;
  content: '';
  height: 33px;
  width: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--c-grey-400);
}
.quick-action_card::after {
  position: absolute;
  content: '';
  height: 33px;
  width: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--c-grey-400);
}

.quick-action_card img {
  height: 36px;
}
.quick-action_card .content h5 {
  color: var(--c-secondary);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 8px;
}

.quick-action_card .content h3 {
  color: var(--c-white-900);
  font-size: 23px;
  line-height: 40px;
  text-transform: capitalize;
}
/* *************** Quick Actions Section End *************** */

/* *************** HRT Section Start *************** */
.custom-hrt {
  background-color: var(--c-primary);
}
.hrt-left .custom-heading .main-heading {
  color: var(--c-white-900);
}
.hrt-left .hrt-image {
  padding-top: 45px;
}
.hrt-left .hrt-image img {
  width: 100%;
  min-height: 488px;
  object-fit: cover;
}
.hrt-right .hrt-image img {
  object-fit: cover;
}
.hrt-list {
  color: var(--c-white-900);
  font-weight: 700;
  font-size: 23px;
  line-height: 47px;
  padding-top: 49px;
}
.hrt-list li {
  position: relative;
  padding-left: 50px;
}
.hrt-list li::before {
  position: absolute;
  content: '';
  background-image: url('../images/hormone-replacement-bullet.webp');
  width: 27px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
/* *************** HRT Section End *************** */

/* *************** Getting Started Section Start *************** */
.gt_content {
  padding-top: 62px;
}
.gt-wrap {
  padding: 0 22px;
}
.gt_text p {
  font-size: 15px;
  line-height: 31px;
}
.gt_icon {
  display: inline-flex;
  width: 121px;
  height: 121px;
  border: 2px solid var(--c-secondary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
}
.gt_icon img {
  height: 61px;
}
.gt_title {
  padding-bottom: 19px;
}
.gt_title h3 {
  font-size: 28px;
  text-transform: capitalize;
}
/* *************** Getting Started Section End *************** */

/* *************** About Section Start *************** */
.custom-about {
  position: relative;
  z-index: 99;
  padding-bottom: 152px;
}
.custom-about::after {
  content: '';
  position: absolute;
  background-image: url(../images/our-story-bg-pattern.webp);
  width: 100%;
  height: 1199px;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.about-left-image {
  position: relative;
}
.about-left-image img:first-child {
  width: 592px;
  height: 592px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}
.about-left-image img:last-child {
  width: 286px;
  height: 290px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.about-right {
  padding: 0 9%;
}
/* *************** About Section End *************** */

/* *************** <add section name> Section Start *************** */
.custom-our-team {
  position: relative;
  z-index: 99;
}
.custom-our-team .custom-our-team-image img {
  width: 100%;
  object-fit: cover;
  height: 620px;
}
.custom-our-team .custom-our-team-image {
  position: relative;
}
.custom-our-team-image::before {
  position: absolute;
  content: '';
  background-color: rgba(10, 29, 53, 0.75);
  width: 100%;
  height: 0%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.custom-our-team-image:hover::before {
  height: 100%;
}
.custom-our-team .custom-our-team-image .custom-our-team-image-text {
  position: absolute;
  bottom: 60px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  background-color: var(--c-white-900);
  width: 269px;
  text-align: center;
  padding-left: 28px;
  transition: all 0.3s ease-in-out;
  height: 53px;
  display: inline-flex;
  align-items: center;
}
.custom-our-team .custom-our-team-image .custom-our-team-image-text h5 {
  font-family: var(--ff-primary);
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
.custom-our-team .custom-our-team-image:hover .custom-our-team-image-text {
  background-color: transparent;
  color: var(--c-white-900);
  display: block;
  padding: 0 10px !important;
}
.custom-our-team .custom-our-team-image:hover .custom-our-team-image-text h5 {
  /* font-weight: 600; */
  position: relative;
  transition: all 0.5s ease-in-out;
}
.custom-our-team .custom-our-team-image:hover .custom-our-team-image-text h5::before {
  position: absolute;
  content: '';
  width: 45px;
  height: 1px;
  background-color: var(--c-white-900);
  left: -45px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.custom-our-team .custom-our-team-image:hover .custom-our-team-image-text h5::after {
  position: absolute;
  content: '';
  width: 45px;
  height: 1px;
  background-color: var(--c-white-900);
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
}
.custom-our-team .custom-our-team-image:hover .custom-our-team-image-text .doctor-contact {
  display: block !important;
  transition: all 0.5s ease-in-out;
}
.doctor-contact a {
  color: var(--c-white-900);
  font-size: 15px;
  font-weight: 500;
  line-height: 28px;
  transition: all 0.5s ease-in-out;
}
#our-team-carousel .item  {
  padding: 0 10px;
}
.custom-our-team-content {
  position: relative;
}
.custom-our-team .custom-heading {
  text-align: center;
  padding: 0 320px;
  margin-bottom: 68px;
}
.custom-testimonial.custom-pad {
  position: relative;
  z-index: 99;
}
.testimonial-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.testimonial-content .custom-paragraph p {
  font-family: var(--ff-secondary);
  font-size: 32px;
  font-weight: 300;
  line-height: 61px;
  color: var(--c-blue-900);
}
.testimonial-content h5 {
  font-weight: 500;
  font-size: 16px;
  margin-top: 42px;
}
.custom-testimonial .custom-heading {
  margin-bottom: 45px;
  text-align: center;
}
.custom-testimonial.custom-pad .owl-dots {
  display: none;
}
.quick-service-wrap {
  display: flex;
  align-items: center;
  height: 660px;
}
.custom-quick-service .quick-service-wrap:not(:nth-child(2)) {
  flex-direction: row-reverse;
}
.quick-service-wrap > * {
  flex-basis: 50%;
}
.quick-service-content {
  position: relative;
  background-image: url(../images/quick-services-bg-pattern.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.quick-service-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.quick-service-content-wrap {
  position: absolute;
  top: 50%;
  padding: 0 88px 0 96px;
  transform: translateY(-50%);
}
.custom-cta-content {
  text-align: center;
}
.custom-cta-content .custom-paragraph p {
  font-size: 23px;
  color: var(--c-primary);
}
.custom-cta.custom-pad .custom-cta-content .button-wrap {
  padding-top: 56px;
}
.custom-heading h3 span {
  color: var(--c-secondary);
  text-decoration: underline;
}
.custom-cta.custom-pad .custom-heading {
  text-align: center;
  padding: 0 400px;
  margin-bottom: 10px;
}
.custom-cta-content .custom-paragraph {
  margin-top: 30px;
}
.custom-hrt.custom-pad .button-wrap .custom-button_alt:hover {
  background-color: var(--c-white-900);
  color: var(--c-primary);
}
/* *************** <add section name> Section End *************** */

/* *************** Footer Section Start *************** */
.custom-footer {
  background-color: var(--c-white-800);
  position: relative;
  overflow-y: hidden;
}
.footer_content-wrap  {
  position: relative;
  z-index: 9;
}
.footer_content-wrap::after, 
.footer_content-wrap::before {
  content: '';
  position: absolute;
  background-image: url('../images/footer-bg-pattern-top.webp');
  width: 175px;
  height: 268px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
.footer_content-wrap::before  {
  top: 2px;
  right: 0;
}
.footer_content-wrap::after  {
  bottom: -32px;
  left: 0;
  transform: rotate(180deg);
}

.footer_col-wrap {
  padding: 90px 0 48px;
}

.footer-title h3 {
  font-size: 20px;
  line-height: 40px;
  color: var(--c-secondary);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 22px;
}

.footer_list .footer_link {
  font-size: 15px;
  color: var(--c-primary);
  line-height: 39px;
  font-weight: 400;
}

.footer_copyright {
  padding: 32px 0;
}

.footer_copyright p {
  font-family: var(--ff-primary);
  font-size: 17px;
  line-height: 40px;
  color: var(--c-primary);
}
/* *************** Footer Section End *************** */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* HOMEPAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* INNER PAGE START *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */
.custom-inner-banner {
  height: 350px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9;
  position: relative;
}
.custom-inner-banner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(184, 150, 126, 0.67);
  top: 0;
  left: 0;
  z-index: -1;
}
.inner-banner-heading h1 {
  font-size: 56px;
  color: var(--c-white-900);
  text-transform: capitalize;
}
.inner-banner-heading h5 {
  color: var(--c-white-900);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
}
.inner-banner-right .breadcrumb {
  margin: 0;
  background: #b8967ebf;
  padding: 15px 22px;
  box-shadow: 5px 5px 5px rgba(60, 40, 3, 0.26);
  border: 1px solid var(--c-secondary);
}
.inner-banner-right .breadcrumb-item a {
  color: var(--c-white-800);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.inner-banner-right .breadcrumb-item.active {
  color: var(--c-white-900);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}  
 .breadcrumb-item + .breadcrumb-item::before {
  color: var(--c-white-900) !important;
}
/* Our Story Page Start */
.inner-our-story {
  padding-bottom: 270px;
  background-color: var(--c-white-800);
}
.our-story-image {
  position: relative;
}
.our-story-image img  {
  width: 100%;
}
.our-story-image img:first-child {
  padding-right: 100px;
  height: 450px;
  object-fit: cover;
}
.our-story-image img:last-child {
  height: 300px;
  object-fit: cover;
  position: absolute;
  right: 0;
  width: 300px;
  bottom: -80px;
}
.our-story-content {
  padding-left: 50px;
}
.our-story-content .custom-heading .main-heading {
  width: 92%;
}


.inner-doctors-quote {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
}
.inner-doctors-quote .custom-heading .main-heading {
  color: var(--c-white-900);
}
.doctors-quote-content p {
  color: var(--c-white-900);
  font-size: 24px;
  line-height: 46px;
  font-style: italic;
}
.doctors-quote-content span {
  color: var(--c-white-900);
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  text-transform: capitalize;
}
.inner-doctors-quote::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 29, 53, 0.78);
  top: 0;
  left: 0;
  z-index: -1;
}
.doctors-quote-content::before {
  content: '';
  position: absolute;
  background-image: url("../images/straight-quotes.webp");
  width: 128px;
  height: 128px;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.doctors-quote-content::after {
  content: '';
  position: absolute;
  background-image: url("../images/straight-quotes.webp");
  width: 128px;
  height: 128px;
  bottom: 20px;
  right: 20px;
  transform: scaleX(-1) rotateX(180deg);
  z-index: 1;
}

.counter-section-two {
  position: relative;
  z-index: 999;
  margin-top: -110px;
}
.counter-up-wrapper {
  position: relative;
  background-color: var(--c-blue-900);
  padding: 40px;
}
.counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-section-two .count-icon img {
  width: 100px;
  height: 100px;
}
.count-number-and-unit {
  font-size: 55px;
  line-height: 1;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}
.counter-section-two .count-title {
  color: #FFFFFFE0;
  font-size: 20px;
}

.inner-why-choose {
  position: relative;
  z-index: 99;
  overflow: hidden;
  padding-top: 60px;
}
.inner-why-choose::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/why-choose-us.png');
  right: 0;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 96% 0%;
  z-index: -1;
  opacity: 1;
}

.inner-why-choose  .custom-heading-underline::after,
.faq  .custom-heading-underline::after,
.inner-contact-us-info .custom-heading-underline::after {
  left: 50%;transform: translateX(-50%);
}
.why-choose-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  border: 1px solid var(--c-grey-400);
  padding: 35px 20px;
  min-height: 360px;
  align-items: center;
  justify-content: center;
  background-color: var(--c-white-900);
}
.why-choose-box img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.inner-cta {
  background-color: #fbfbfb;
}
/* Our Story Page End */
/* FAQ Page Start */
.faq .custom-heading {
  text-align: center;
  margin-bottom: 60px;
}
.faq .faq-accordion .accordion-item {
  border: 0;
}
.faq .faq-accordion .accordion-item .accordion-header {
  box-shadow: -4px 4px 18.6px 4.4px rgba(236, 236, 236, 0.75);
  margin-bottom: 16px;
}
.faq .faq-accordion .accordion-button:focus {
  background-color: transparent;
  font-family: var(--ff-primary);
  font-size: 24px;
  padding: 24px;
  color: var(--c-primary);
}
.faq .accordion-button.collapsed {
  font-family: var(--ff-primary);
  font-size: 24px;
  padding: 24px;
}
.accordion-button:not(.collapsed) {
  font-family: var(--ff-primary);
  font-size: 24px;
  color: var(--c-primary);
  background-color: var(--c-white-900);
  box-shadow: none;
}
.faq  .faq-accordion .accordion-item .accordion-button::after {
  flex-shrink: 0;
  width: 47px;
  height: 43px;
  margin-left: auto;
  content: "+";
  background-image: none;
  transition: all .2s ease-in-out;
  color: var(--c-white-900);
  background-color: var(--c-primary);
  text-align: center;
  font-size: 30px;
  line-height: 42px;
}
.faq .faq-accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "-";
  transform: rotate(0deg);
}
/* FAQ Page End */
/* Service Page Start */
.symptom-left-image img {
  width: 100%;
}
.symptom-right ul {
  column-count: 2;
  margin-bottom: 1rem;
}
.custom-paragraph li {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 500;
}
.custom-paragraph li::before {
  position: absolute;
  content: '';
  background-image: url('../images/hormone-replacement-bullet.webp');
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.service-box {
  position: relative;
  box-shadow: 9px 8px 19px rgb(241, 241, 241);
border: 1px solid rgb(241, 241, 241);
}
.service-image {
  position: relative;
  overflow: hidden;
}
.service-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}
.service-box:hover  img {
  transform: scale(1.15);

}
.service-text {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 30px 15px;
}
.service-box .title h3 {
  font-size: 22px;
  padding-bottom: 15px;
}
.service-box .rate h5 {
  font-weight: 600;
  font-size: 15px;
  color: var(--c-secondary);
}
.service-box .desc p {
  line-height: 24px;
  font-size: 15px;
  color: var(--c-primary);
  padding-top: 15px;
  display: -webkit-box;
    -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  overflow: hidden;
}
.service-text .button-wrap {
  padding-top: 25px;
}

.inner-membership .hrt-right .hrt-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: 50% 14%;
}
.inner-membership .hrt-left p {
  color: var(--c-white-900);
  font-size: 18px;
  font-weight: 500;
}
/* Service Page End */
/* Service Inner Page Start */
.service-inner-about.inner-our-story {
  padding-bottom: 106px;
}
.service-inner-about .our-story-image img {
  width: 100%;
  height: 650px;
  bottom: unset;
  position: relative;
  padding: 0;
}
.service-inner-about .our-story-image {
  padding-left: 50px;
}
.service-inner-symptoms .symptom-left-image img {
  width: 100%;
  height: 620px;
  object-fit: cover;
  object-position: top;
}
.service-inner-symptoms .symptom-right ul {
  column-count: 1;
}
.service-inner-about .our-story-content {
  padding: 0;
}
.custom-cta.inner-cta .custom-heading {
  text-align: center;
  padding: 0 25%;
}
/* Service Inner Page End */
/* Contact Us Start */
.contact-details-box {
  background: var(--c-secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  height: 180px;
  align-items: self-start;
  justify-content: center;
  padding-left: 140px;
  padding-right: 15px;
}
.contact-details-box-icon {
  height: 65px;
  width: 65px;
  box-shadow: -10px 10px var(--c-primary);
  position: absolute;
  left: 45px;
  font-size: 30px;
  text-align: center;
  line-height: 65px;
  background: #fff;
  color: var(--c-primary);
}
.contact-box-title {
  color: var(--c-white-900);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.contact-details-box p, .contact-details-box a {
  font-size: 17px;
  line-height: 21px;
  color: var(--c-white-900);
  font-weight: 400;
  word-wrap: break-word;
}
.section-title-wrapper .custom-heading {
  width: 70%;
}
.contact-form-two-section {
  padding-bottom: 60px;
}
.form-left-image img {
  width: 100%;
  height: 460px;
  object-fit: cover;
  object-position: top;
}
.contact-form-container {
  margin-left: 35px;
}
.section-title-wrapper {
  margin-bottom: 45px;
}
.form-control-wrapper {
  margin-bottom: 35px;
}
.form-control-wrapper input,
.form-control-wrapper select {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid var(--c-secondary);
  background-color: #fff;
  height: 55px !important;
}
.form-control-wrapper input::placeholder,
.form-control-wrapper select {
  font-size: 19px;
  font-family: var(--ff-tertiary);
  font-weight: 600;
  color: #4f4f4f;
  opacity: 0.5;
  height: 52px;
}
input.custom-button {
  border-inline: none;
  border-top: none;
}
input:focus-visible {
  outline: none;
}
.custom-map iframe  {
  width: 100%;
  height: 450px;
}
/* Contact Us End */
/* *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* INNER PAGE END *=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=* */

